body{
    text-align: center;
    margin:auto;
    font-size:large;
    background:-webkit-linear-gradient(white,rgb(46, 152, 201),white)

}
div{
    border-radius:15px;
    margin:auto;
    max-width: 800px;
}
h1{
    font-size:72px;
    background:-webkit-linear-gradient(white,darkgoldenrod,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
    
h2{
    font-size:xx-large;
    color:darkgoldenrod;
}
#home{
    font-size:xx-large;
    padding:20px;
    color:black;
}
#arch{
    font-size:xx-large;
    padding:20px;
    color:black;
}
#gods{
    padding:20px;
    color:black;
    font-size:xx-large;
}
nav{
    position:fixed;
    top:0;
    width:100%;
    background-color:rgb(46, 152, 201);
text-align: center;
    
}