h1 {
    text-transform:capitalize;
    text-decoration: underline;
    text-align:center;
    font-size:72px;
    background:-webkit-linear-gradient(white,darkgoldenrod,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    text-transform:capitalize;
    text-decoration: underline;
    text-align: center;
    margin:auto;
    color:darkgoldenrod;
    padding-left: 5%;
    padding-right:5%;}
body {
        font-family:arial;
        background:-webkit-linear-gradient(white,rgb(46, 152, 201),white);
    }

p{
    max-width:800px;
    margin:auto;
    padding-left:5%;
    padding-right:5%;
    font-size:large;
}
#links{
    padding-bottom:2%;

    }
#right{
    float:right;
    margin:auto;
    word-wrap: break-word;
    max-width:25%;
}
#h1plist{
    color:darkgoldenrod;
}
a{
    font-size:20px;
    color:darkslategrey;
    text-transform:capitalize;
}
#caps{
    text-align: center;
}
div #footer{
    padding:10%;
}
#gods{
    padding-right:10%;
    color:black;
    font-size:xx-large;
}
#arch{
    color:black;
    font-size:xx-large
}
#home{
    padding-right:10%;
    color:black;
    font-size:xx-large
    
}
nav{
    position:fixed;
    top:0;
    width:100%;
    background-color:rgb(46, 152, 201);
text-align: center;
}
form{
    text-align: center;
}